In [5]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [6]:
data = pd.read_csv("Book2.csv")

In [7]:
data

  Unnamed: 0  vid  days  subscribers  views
0         C1   30   150         1800  35000
1         C2   40   212         1950  40000
2         C3   50   179         2100  43000
3         C4   60   346         4300  48000
4         C5   70   280         4200  52000

In [8]:
model = LinearRegression()
model.fit(data[['vid','days','subscribers']],data.views)

LinearRegression()

In [9]:
model.predict([[45,180,3100]])

array([40963.52062638])

In [10]:
model.coef_

array([ 4.08486150e+02,  9.55118476e+00, -3.65284166e-01])

In [11]:
model.intercept_

21994.811538070353

In [16]:
y_new = model.coef_[0]*45 + model.coef_[1]*180 +model.coef_[2]*3100 + model.intercept_

In [17]:
y_new

40963.52062637992